/*appbar at top */

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

body {
  background-size: 100% 100%;
  background: #F3904F; 
  background: -webkit-linear-gradient(to top, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}




.landing-grid, .projects-grid, .nav-color, .contact-body {   
  text-align: center;
  top: 5;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img {
  height: 175px;
  padding-top: 3em;

}

.banner-text {
  opacity: .9;
  width: 75%;
  margin: auto;
  border-radius: 10px; 
}
.banner-text h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  margin-bottom: 0
}
.banner-text h3 {
  font-size: 22px;
  margin-top: 10px;
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 60%;
  margin: auto;
  padding: 20px;
}
.banner-text p {
  color: white;
  font-size: 16px;
  padding: 2em;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 4em;
  padding-top: 20px;
}
.react-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
}
.contact-body {
  margin: auto; 
  /* position: fixed; */
  height: 100%;
  width: 100%;
  justify-content: center;
  padding-top: 3em;
}

.contact-grid { 
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 650px; 
  color: white;  
 margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.contact-grid hr {
  border-top: 5px dotted white;
  width: 80%;
  margin: auto;
}

.contact-list-item {
  font-size: 16px;
}
.contact-list i { 
  font-size:20px;
  padding-right: 1em;
  color: white;
  margin-left: 5px;
 }

 @media screen and (min-width: 1000px) {
  .react-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    padding-top: 30px;
  }

  .contact-list-item {
    font-size: 22px;
  }
  .contact-list i { 
    font-size:24px;
    padding-right: 1em;
    color: white;
    margin-left: 15px;
   }
}




